<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.GroupMapper"> 
 
	<select id="findById" parameterType="String" resultType="Group" resultMap="groupMap"> 
	    SELECT ta.id,username,`password`,groupid,
		`name` FROM t_group AS tg
		LEFT JOIN t_account AS ta ON ta.groupid = tg.id
		WHERE tg.id = #{id};
	</select> 
	
	<resultMap type="Group" id="groupMap">
		<id column="groupid" property="id"/>
		<result column="name" property="name"/>
		<collection property="accounts" ofType="Account">
			<id column="id" property="id"/>
			<result column="username" property="username"/>
			<result column="password" property="password"/>
			<result column="groupid" property="groupid"/>
		</collection>	
	</resultMap>
 
</mapper>